/* Global */

#grace {
    display: none;
}

/* User Card */

.card-content .has-traffic {
        display: none;
}

/* User Profile Name Grouping */

.location-and-website {
    padding-top: 10px;
}

.alert-grey {
    max-width: 50%;
    background-color: #e6e6fa;
}

/* User Profile Group 1 */

#ucard-g1 .looking-for {
    background-color: #e6e6fa;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#ucard-g1 .has-traffic {
    display: none;
}

#ucard-g1 .wants-traffic {
    display: none;
}

#ucard-g1 .company {
    display: none;
}

#ucard-g1 .role {
    display: none;
}

#ucard-g1 .advertiser {
    display: none;
}

#ucard-g1 .agency-or-opm {
    display: none;
}

#ucard-g1 .affiliate-manager {
    display: none;
}

#ucard-g1 .service-provider {
    display: none;
}

#ucard-g1 .network-pro {
    display: none;
}

#ucard-g1 .marketing-pro {
    display: none;
}

#ucard-g1 .none-of-the-above {
    display: none;
}


/* User Profile Group 2 */

#g2-badges {
    padding-bottom: 3px;
}

#ucard-g2 .badge-dark {
    border-color: #1882FA;
    background-color: #1882FA;
    color: #ffffff;
    padding: 3px;
    margin-bottom: 5px;
}

#ucard-g2 .has-traffic {
}

#ucard-g2 .wants-traffic {
}

#ucard-g2 .looking-for {
    display: none;
}

#ucard-g2 .company {
    display: none;
}

#ucard-g2 .role {
    display: none;
}

#ucard-g2 .advertiser {
    display: none;
}

#ucard-g2 .agency-or-opm {
    display: none;
}

#ucard-g2 .affiliate-manager {
    display: none;
}

#ucard-g2 .service-provider {
    display: none;
}

#ucard-g2 .network-pro {
    display: none;
}


#ucard-g2 .marketing-pro {
    display: none;
}

#ucard-g2 .none-of-the-above {
    display: none;
}


/* User Profile Group 3 */

.fa-certificate {
    color: #DA552F;
}

#ucard-g3 .has-traffic {
    display: none;
}

#ucard-g3 .wants-traffic {
    display: none;
}

#ucard-g3 .looking-for {
    display: none;
}

#ucard-g3 .company {
    display: none;
}

#ucard-g3 .role {
    display: none;
}

#ucard-g3 .advertiser {
}

#ucard-g3 .agency-or-opm {
}

#ucard-g3 .affiliate-manager {
}

#ucard-g3 .service-provider {
}

#ucard-g3 .marketing-pro {
}

#ucard-g3 .none-of-the-above {
    display: none;
}

/* User Profile Group 4 */

#ucard-g4 .company {
    display: none;
}

#ucard-g4 .role {
}

#ucard-g4 .looking-for {
    display: none;
}

#ucard-g4 .has-traffic {
    display: none;
}

#ucard-g4 .wants-traffic {
    display: none;
}

#ucard-g4 .advertiser {
    display: none;
}

#ucard-g4 .agency-or-opm {
    display: none;
}

#ucard-g4 .affiliate-manager {
    display: none;
}

#ucard-g4 .service-provider {
    display: none;
}

#ucard-g4 .network-pro {
    display: none;
}

#ucard-g4 .marketing-pro {
    display: none;
}

#ucard-g4 .none-of-the-above {
    display: none;
}

/* User Profile Group 5 */

#ucard-g5 .role {
    display: none;
}

#ucard-g5 .company {
}

#ucard-g5 .looking-for {
    display: none;
}

#ucard-g5 .has-traffic {
    display: none;
}

#ucard-g5 .wants-traffic {
    display: none;
}

#ucard-g5 .advertiser {
    display: none;
}

#ucard-g5 .agency-or-opm {
    display: none;
}

#ucard-g5 .affiliate-manager {
    display: none;
}

#ucard-g5 .service-provider {
    display: none;
}

#ucard-g5 .network-pro {
    display: none;
}

#ucard-g5 .marketing-pro {
    display: none;
}

#ucard-g5 .none-of-the-above {
    display: none;
}

/* hide User Preference links for non admins */

/* >>>SUMMARY / STATS */

body:not(.primary-group-adminos) .stats-section {
  display: none;
}


/* user card */
.public-user-field.twitter {
  display: none;
}

.public-user-field.linked-in {
  display: none;
}

.public-user-field.facebook {
  display: none;
}

.public-user-field.google-plus {
  display: none;
}

#user-card .metadata h3 {
  float: left;
}

h3.user-card-public-field {
 clear: both;   
}

.iconic-user-fields {
    a {
        margin-right: 5px;
    }
    .fa {
        font-size: 15px;
        color: #000;
        margin-left: 0;
    }
}


.location-and-website {
    .website-name {
        margin-right: 10px;
    }
    div {
        display: inline;
    }
    a {
        text-decoration: underline;
        color: #222;
    }
    span {
        margin-right: 10px;
    }
}

.primary-textual h3 > .ember-view:not(:first-child) {
    margin-left: 10px;
}

.user-location-and-website-outlet.user-card-profile-customization {
    display: inline;
}

#user-card {
    .card-content {
        padding-top: 31px;
    }
    .usercard-controls {
        margin-top: -19px;
    }
    &.no-bg .card-content {
        padding-top: 12px;
        margin-top: 19px;
    }
    span.ember-view {
        position: relative !important;
    }
}

/* user card >>> secondary (meta) */

body:not(.primary-group-adminos) #grace {
  display: none;
}