/* User Card Group 1 */

#ucard-g1 .looking-for {
}

#ucard-g1 .has-traffic {
    display: none;
}

#ucard-g1 .wants-traffic {
    display: none;
}

#ucard-g1 .company {
    display: none;
}

#ucard-g1 .role {
    display: none;
}

#ucard-g1 .advertiser {
    display: none;
}

#ucard-g1 .agency-or-opm {
    display: none;
}

#ucard-g1 .affiliate-manager {
    display: none;
}

#ucard-g1 .service-provider {
    display: none;
}

#ucard-g1 .marketing-pro {
    display: none;
}

#ucard-g1 .none-of-the-above {
    display: none;
}


/* User Card Group 2 */

#ucard-g2 .has-traffic {
}

#ucard-g2 .wants-traffic {
}

#ucard-g2 .looking-for {
    display: none;
}

#ucard-g2 .company {
    display: none;
}

#ucard-g2 .role {
    display: none;
}

#ucard-g2 .advertiser {
    display: none;
}

#ucard-g2 .agency-or-opm {
    display: none;
}

#ucard-g2 .affiliate-manager {
    display: none;
}

#ucard-g2 .service-provider {
    display: none;
}

#ucard-g2 .marketing-pro {
    display: none;
}

#ucard-g2 .none-of-the-above {
    display: none;
}


/* User Card Group 3 */


/* hide User Preference links for non admins */

/* >>>SUMMARY / STATS */

body:not(.primary-group-adminos) .stats-section {
  display: none;
}


/* user card */
.public-user-field.twitter {
  display: none;
}

.public-user-field.linked-in {
  display: none;
}

.public-user-field.facebook {
  display: none;
}

.public-user-field.google-plus {
  display: none;
}

#user-card .metadata h3 {
  float: left;
}

h3.user-card-public-field {
 clear: both;   
}

.iconic-user-fields {
    a {
        margin-right: 5px;
    }
    .fa {
        font-size: 15px;
        color: #000;
        margin-left: 0;
    }
}


.location-and-website {
    .website-name {
        margin-right: 10px;
    }
    div {
        display: inline;
    }
    a {
        text-decoration: underline;
        color: #222;
    }
    span {
        margin-right: 10px;
    }
}

.primary-textual h3 > .ember-view:not(:first-child) {
    margin-left: 10px;
}

.user-location-and-website-outlet.user-card-profile-customization {
    display: inline;
}

#user-card {
    .card-content {
        padding-top: 31px;
    }
    .usercard-controls {
        margin-top: -19px;
    }
    &.no-bg .card-content {
        padding-top: 12px;
        margin-top: 19px;
    }
    span.ember-view {
        position: relative !important;
    }
}

/* user card >>> secondary (meta) */

body:not(.primary-group-adminos) #grace {
  display: none;
}